{% extends 'base.html' %}
{% block content %}
  <h1>Add Shop</h1>
  {% with messages = get_flashed_messages() %}
 {% if messages %}
  <ul>
  {% for message in messages %}
    <li><h4>{{ message }}</h4></li>
  {% endfor %}
  </ul>
 {% endif %}
{% endwith %}
  <form method="post" action="{{ url_for('shop_add') }}">
    {{ form.csrf_token }}
    {{ form.name.label }}     {{ form.name }}<br><br>
    {{ form.areazone_id.label }}     {{ form.areazone_id }}<br><br>
    {{ form.owner_id.label }}     {{ form.owner_id }}<br><br>
    {{ form.category_id.label }}     {{ form.category_id }}<br><br>
    {{ form.employees.label }}     {{ form.employees }}<br><br>
    <input type="submit" value="Submit">
  </form><br><br>
{% endblock %}