{% extends 'base.html' %}
{% block content %}
  <h1>Area Zones</h1>
  {% with messages=get_flashed_messages() %}
  {% if messages %}{{ messages[0] }}{% endif %}
  {% endwith %}
  <form method="post" action="{{ url_for('area_zones') }}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name }}
    {{ form.city_id.label }} {{ form.city_id }}
    <input type="submit" value="Submit">
  </form><br><br>

  <table>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>State</th>
    </tr>
    {% for arezzone in areazones %}
    <tr>
      <td>{{ arezzone.id }}</td>
      <td>{{ arezzone.name }}</td>
      <td>{{ arezzone.city.name }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}