{% extends 'base.html' %}
{% block content %}
  <h1>Cities</h1>
  {% with messages=get_flashed_messages() %}
  {% if messages %}{{ messages[0] }}{% endif %}
  {% endwith %}
  <form method="post" action="{{ url_for('cities') }}">
    {{ form.csrf_token }}
    {{ form.name.label }} {{ form.name }}
    {{ form.state_id.label }} {{ form.state_id }}
    <input type="submit" value="Submit">
  </form><br><br>

  <table>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>State</th>
    </tr>
    {% for city in cities %}
    <tr>
      <td>{{ city.id }}</td>
      <td>{{ city.name }}</td>
      <td>{{ city.state.name }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}