{% extends 'base.html' %}
{% block content %}
<h1>States</h1>
{% with messages=get_flashed_messages() %}
{% if messages %}{{ messages[0] }}{% endif %}
{% endwith %}
<form method="post" action="{{ url_for('states') }}">
  {{ form.csrf_token }}
  {{ form.name.label }} {{ form.name }}
  <input type="submit" value="Submit">
</form><br><br>

<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
  </tr>
  {% for state in states %}
  <tr>
    <td>{{ state.id }}</td>
    <td>{{ state.name }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}